@font-face {
  font-family: 'Moon';
  src: url('~assets/fonts/moon2.0-regular-webfont.woff2') format('woff2'),
        url('~assets/fonts/moon2.0-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon';
  src: url('~assets/fonts/moon2.0-bold-webfont.woff2') format('woff2'),
        url('~assets/fonts/moon2.0-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moon';
  src: url('~assets/fonts/moon2.0-light-webfont.woff2') format('woff2'),
        url('~assets/fonts/moon2.0-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
  
// @font-face {
//   font-family: 'Abyssopelagic';
//   src: url('~assets/fonts/Abyssopelagic.woff2') format('woff2'),
//         url('~assets/fonts/Abyssopelagic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Aqua Grotesque';
//   src: url('~assets/fonts/AquaGrotesque.woff2') format('woff2'),
//         url('~assets/fonts/AquaGrotesque.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Coves';
//   src: url('~assets/fonts/CovesBold.woff2') format('woff2'),
//         url('~assets/fonts/CovesBold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Coves';
//   src: url('~assets/fonts/CovesLight.woff2') format('woff2'),
//         url('~assets/fonts/CovesLight.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }