.page-header {
  $header-transition: 0.3s ease;

  @include linear-gradient(
    to bottom, 
    transparent, 
    rgba($almost-black, 0.7) 0%, 
    rgba($almost-black, 0.5) 50%, 
    rgba($almost-black, 0) 100%);
	padding: 1rem 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	transition: all $header-transition;
	z-index: $zindex-fixed;

  .scrolled & {
		@include linear-gradient(
			to bottom, 
			transparent, 
			rgba($almost-black, 0.5) 0%, 
			rgba($almost-black, 0.5) 50%, 
			rgba($almost-black, 0.5) 100%);
		padding: .5rem;
    backdrop-filter: blur(3px);
  }

  &__logo {
		color: $white;
		display: inline-block;
		font-family: $headings-font-family;
		font-weight: lighter;
		letter-spacing: 0.15em;
    line-height: 1;
    font-size: 0;
		margin: 0 auto;
		vertical-align: middle;
		transition: all $header-transition;

    a,
    a:hover { text-decoration: none;}

		&--center {
			display: inline-block;
			width: 60px;
			height: auto;
			transition: all $header-transition; 
			vertical-align: middle;
		}

		&--left,
		&--right {
			display: inline-block;
			padding: 15px 30px;
			font-size: 18px;
			font-weight: lighter;
			letter-spacing: 13px;
			color: $white;
			transition: all $header-transition;
			text-shadow: $text-shadow;

			@include media-breakpoint-down(sm) { @include visually-hidden; }

			.scrolled & { opacity: 0; }
		}

		&--left { order: -1; }
	}

  &__nav-toggle {
		margin: -15px 30px 0;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 9999;
	}

  &__nav-btn {
		padding: 0;
		background: transparent;
		border: 0;
		cursor: pointer;

		&:focus {
			outline: 0;
			box-shadow: 0 0 0 3px rgba($white, 0.4);
		}
		
		span {
			@include burger(40px, 4px, 6px, $white, 2px);
			display: block;
		}

		&.active span {
			@include burger-to-cross;
    }
  }
}