// @use "sass:math";

$font-size-root: 16px;

@function rem($size) {
  $remSize: math.div($size, $font-size-root);
  @return #{$remSize}rem;
}

// Custom Typography Variables
//
$letter-spacing-base:         0;
$letter-spacing-xl:           0.15em;
$letter-spacing-lg:           0.075em;
$letter-spacing-md:           0.05em;
$letter-spacing-sm:           0.025em;

$letter-spacing-header-xl:    0.3em;
$letter-spacing-header-lg:    0.25em;
$letter-spacing-header-md:    0.2em;
$letter-spacing-header-sm:    0.15em;
$letter-spacing-header-xs:    0.1em;

$text-shadow: 3px 3px 5px #000000; 

// Custom Colors
//
$white:                     #ffffff;
$almost-black:              #03030d;
$bruise:                    #23202e;
$deep-blue:                 #070f19;
$gray-darkest:              $almost-black;
$gray-dark:                 #0D1B2A !default;
$gray:                      #1A2A3A !default;
$gray-light:                #415B77 !default;
$gray-lighter:              #758EA8 !default;
$gray-lightest:             #DBDEE0 !default;

$brand-red:                 #ef4566; // Watermelon
$brand-pink:                #f67280; // Peach
$brand-orange:              #f8b195; // Cream Sickle
$brand-yellow:              #e5eec1; // Pale Yellow
$brand-green:               #a2d4ab; // Pale Lime Green
$brand-blue:                #547a82; // Dark Blue
$brand-teal:                #3eaca8; // Turquoise
$brand-cyan:                #3eaca8; // Turquoise
$brand-indigo:              #355c7d; // Dark Lilac
$brand-purple:              #6c5b7b; // Bruise
$brand-gray:                #5a5050; // Neutral Gray
$brand-gray-dark:           #2c2a3b; // Dark Cool Gray

$brand-light:               $brand-yellow; // Pale Yellow
$brand-primary:             $brand-green; // Pale Lime Green
$brand-secondary:           $brand-teal; // Turquoise
$brand-tertiary:            $brand-blue; // Dark Blue
$brand-dark:                $brand-gray; // Neutral Gray
$brand-highlight:           $brand-red; // Watermelon

// Accessibility
$focus-outlinewidth: 2px;
$focus-outlinestyle: solid;
$focus-outlinecolor: rgba($white, 0.5);
$focus-outlinecolor-dark: $brand-gray;
$focus-outlineoffset: 2px;

// Custom Components
//

// Social Media List
$social-list-bg: rgba($white, 0.3);
$social-list-hover-bg: $brand-pink;
$social-list-border: 0;
$social-list-hover-border: 0;
$social-list-border-radius: 100%;
$social-list-color: $white;
$social-list-hover-color: $white;
$social-list-size: 20px;
$social-list-height: 40px;
$social-list-width: 40px;
$social-list-margin: 0 5px 5px;

// Bootstrap overrides
//

// Colors
$gray-800: $brand-gray !default;
$gray-900: $brand-gray-dark !default;

$blue:    $brand-blue !default;
$indigo:  $brand-indigo !default;
$purple:  $brand-purple !default;
$pink:    $brand-pink !default;
$red:     $brand-red !default;
$orange:  $brand-orange !default;
$yellow:  $brand-yellow !default;
$green:   $brand-green !default;
$teal:    $brand-teal !default;
$cyan:    $brand-cyan !default;

$primary:       $brand-primary !default;
$secondary:     $brand-secondary !default;
$success:       $brand-green !default;
$info:          $brand-purple !default;
$warning:       $brand-pink !default;
$danger:        $brand-red !default;
$light:         $brand-light !default;
$dark:          $brand-dark !default;

// Options
$enable-negative-margins:     true !default;

$variable-prefix:             bs- !default;

// body
$body-bg:                   $almost-black !default;
$body-color:                $white !default;

// Links
$link-color:                $pink !default;
$link-decoration:           none !default;
$link-shade-percentage:     -20% !default;
$link-hover-color:          $brand-primary !default;
$link-hover-decoration:     underline !default;

// Paragraphs
$paragraph-margin-bottom:   1.25rem !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1700px,
  4k: 2500px
) !default;
// scss-docs-end grid-breakpoints

// Grid Containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1400px,
  3xl: 1670px,
  4k: 1970px
) !default;
// scss-docs-end container-max-widths

// Transitions
$transition-base:             all .5s cubic-bezier(.7,0,.3,1) !default;
$transition-fade:             opacity .5s cubic-bezier(.7,0,.3,1) !default;

// Typography
$font-family-sans-serif:      'Nunito Sans', serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$line-height-base:            1.85 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 3.5 !default;
$h2-font-size:                $font-size-base * 3 !default;
$h3-font-size:                $font-size-base * 2.5 !default;
$h4-font-size:                $font-size-base * 2 !default;
$h5-font-size:                $font-size-base * 1.5 !default;
$h6-font-size:                $font-size-base * 1.25!default;

$headings-margin-bottom:      2rem !default;
$headings-font-family:        'Moon', sans-serif !default;
$headings-font-weight:        lighter !default;
$headings-line-height:        $line-height-sm !default;
$headings-color:              inherit !default;

// Offcanvas

$offcanvas-padding-y:               1rem !default;
$offcanvas-padding-x:               1rem !default;
$offcanvas-horizontal-width:        400px !default;
$offcanvas-vertical-height:         30vh !default;
$offcanvas-transition-duration:     .5s !default;
$offcanvas-border-color:            transparent !default;
$offcanvas-border-width:            0 !default;
$offcanvas-title-line-height:       $line-height-base !default;
$offcanvas-bg-color:                $almost-black !default;
$offcanvas-color:                   $white !default;
$offcanvas-box-shadow:              none !default;
$offcanvas-backdrop-bg:             $almost-black !default;
$offcanvas-backdrop-opacity:        0.5 !default;

// Dropdowns
//
// Dropdown menu container and contents.

// scss-docs-start dropdown-variables
$dropdown-min-width:                250px !default;
$dropdown-padding-x:                0 !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-base !default;
$dropdown-color:                    $white !default;
$dropdown-bg:                       $deep-blue !default;
$dropdown-border-color:             none !default;
$dropdown-border-radius:            20px !default;
$dropdown-border-width:             1px !default;
$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
$dropdown-divider-bg:               rgba($white, 0.3) !default;
$dropdown-divider-margin-y:         0.5rem * .5 !default;
$dropdown-box-shadow:               none !default;

$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $deep-blue !default;
$dropdown-link-hover-bg:            $primary !default;

$dropdown-link-active-color:        $deep-blue !default;
$dropdown-link-active-bg:           $primary !default;

$dropdown-link-disabled-color:      rgba($white, 0.5) !default;

$dropdown-item-padding-y:           0.5rem * .25 !default;
$dropdown-item-padding-x:           0.5rem !default;

$dropdown-header-color:             $white !default;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x !default;
// scss-docs-end dropdown-variables

// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y:              .375rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-color:                  $white !default;
$pagination-bg:                     $almost-black !default;
$pagination-border-width:           0 !default;
$pagination-border-radius:          50% !default;
$pagination-margin-start:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-focus-color:            $almost-black !default;
$pagination-focus-bg:               $white !default;
$pagination-focus-box-shadow:       none !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               rgba($almost-black, 0.8) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-color:           $white !default;
$pagination-active-bg:              $primary !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $white !default;
$pagination-disabled-bg:            rgba($almost-black, 0.5) !default;
$pagination-disabled-border-color:  transparent !default;

$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out !default;

$pagination-border-radius-sm:       50% !default;
$pagination-border-radius-lg:       50% !default;

// Forms
//
// Forms

// scss-docs-start form-text-variables
$form-text-margin-top:                  .25rem !default;
$form-text-font-size:                   rem(14px) !default;
$form-text-font-style:                  null !default;
$form-text-font-weight:                 null !default;
$form-text-color:                       $white !default;
// scss-docs-end form-text-variables

// scss-docs-start form-label-variables
$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  14px !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                bold !default;
$form-label-color:                      $white !default;
// scss-docs-end form-label-variables

// scss-docs-start form-input-variables
// $input-padding-y:                       $input-btn-padding-y !default;
// $input-padding-x:                       $input-btn-padding-x !default;
// $input-font-family:                     $input-btn-font-family !default;
$input-font-size:                       rem(14px) !default;
// $input-font-weight:                     $font-weight-base !default;
// $input-line-height:                     $input-btn-line-height !default;

// $input-padding-y-sm:                    $input-btn-padding-y-sm !default;
// $input-padding-x-sm:                    $input-btn-padding-x-sm !default;
// $input-font-size-sm:                    $input-btn-font-size-sm !default;

// $input-padding-y-lg:                    $input-btn-padding-y-lg !default;
// $input-padding-x-lg:                    $input-btn-padding-x-lg !default;
// $input-font-size-lg:                    $input-btn-font-size-lg !default;

$input-bg:                              transparent !default;
$input-disabled-bg:                     transparent !default;
$input-disabled-border-color:           rgba($white, 0.3) !default;

$input-color:                           $white !default;
$input-border-color:                    rgba($white, 0.5) !default;
$input-border-width:                    1px !default;
$input-box-shadow:                      none !default;

$input-border-radius:                   0 !default;
$input-border-radius-sm:                0 !default;
$input-border-radius-lg:                0 !default;

$input-focus-bg:                        transparent !default;
$input-focus-border-color:              $teal !default;
$input-focus-color:                     $white !default;
// $input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                none !default;

$input-placeholder-color:               rgba($white, 0.5) !default;
$input-plaintext-color:                 $white !default;

// $input-height-border:                   $input-border-width * 2 !default;

// $input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
// $input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
// $input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5) !default;

// $input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
// $input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
// $input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// $form-color-width:                      3rem !default;
// // scss-docs-end form-input-variables


// scss-docs-start form-check-variables
$form-check-input-width:                  1em !default;
$form-check-min-height:                   $font-size-base * $line-height-base !default;
$form-check-padding-start:                $form-check-input-width + .5em !default;
$form-check-margin-bottom:                .125rem !default;
$form-check-label-color:                  null !default;
$form-check-label-cursor:                 null !default;
$form-check-transition:                   all 0.3s ease !default;

$form-check-input-active-filter:          brightness(90%) !default;

$form-check-input-bg:                     $white !default;
$form-check-input-border:                 1px solid rgba($almost-black, .3) !default;
$form-check-input-border-radius:          .25em !default;
$form-check-radio-border-radius:          50% !default;
$form-check-input-focus-border:           $primary!default;
$form-check-input-focus-box-shadow:       none !default;

$form-check-input-checked-color:          $white !default;
$form-check-input-checked-bg-color:       $brand-pink !default;
$form-check-input-checked-border-color:   $brand-pink !default;
$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>") !default;
$form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;

$form-check-input-disabled-opacity:        .5 !default;
$form-check-label-disabled-opacity:        0.5!default;
$form-check-btn-check-disabled-opacity:    0.5 !default;

$form-check-inline-margin-end:    1rem !default;
// scss-docs-end form-check-variables