// @use "sass:math";

$font-size-root: 16px;

@function rem($size) {
  $remSize: math.div($size, $font-size-root);
  @return #{$remSize}rem;
}

// Custom Typography Variables
//
$letter-spacing-base:         0;
$letter-spacing-xl:           0.15em;
$letter-spacing-lg:           0.075em;
$letter-spacing-md:           0.05em;
$letter-spacing-sm:           0.025em;

$letter-spacing-header-xl:    0.3em;
$letter-spacing-header-lg:    0.25em;
$letter-spacing-header-md:    0.2em;
$letter-spacing-header-sm:    0.15em;
$letter-spacing-header-xs:    0.1em;

$text-shadow: 3px 3px 5px #000000; 

// Custom Colors
//
$white:                     #ffffff;
$almost-black:              #03030d;
$bruise:                    #23202e;
$deep-blue:                 #070f19;
$gray-darkest:              $almost-black;
$gray-dark:                 #0D1B2A !default;
$gray:                      #1A2A3A !default;
$gray-light:                #415B77 !default;
$gray-lighter:              #758EA8 !default;
$gray-lightest:             #DBDEE0 !default;

$brand-red:                 #ef4566; // Watermelon
$brand-pink:                #f67280; // Peach
$brand-orange:              #f8b195; // Cream Sickle
$brand-yellow:              #e5eec1; // Pale Yellow
$brand-green:               #a2d4ab; // Pale Lime Green
$brand-blue:                #547a82; // Dark Blue
$brand-teal:                #3eaca8; // Turquoise
$brand-cyan:                #3eaca8; // Turquoise
$brand-indigo:              #355c7d; // Dark Lilac
$brand-purple:              #6c5b7b; // Bruise
$brand-gray:                #5a5050; // Neutral Gray
$brand-gray-dark:           #2c2a3b; // Dark Cool Gray

$brand-light:               $brand-yellow; // Pale Yellow
$brand-primary:             $brand-green; // Pale Lime Green
$brand-secondary:           $brand-teal; // Turquoise
$brand-tertiary:            $brand-blue; // Dark Blue
$brand-dark:                $brand-gray; // Neutral Gray
$brand-highlight:           $brand-red; // Watermelon

// Accessibility
$focus-outlinewidth: 2px;
$focus-outlinestyle: solid;
$focus-outlinecolor: rgba($white, 0.5);
$focus-outlinecolor-dark: $brand-gray;
$focus-outlineoffset: 2px;

// Custom Components
//

// Social Media List
$social-list-bg: rgba($white, 0.3);
$social-list-hover-bg: $brand-pink;
$social-list-border: 0;
$social-list-hover-border: 0;
$social-list-border-radius: 100%;
$social-list-color: $white;
$social-list-hover-color: $white;
$social-list-size: 20px;
$social-list-height: 40px;
$social-list-width: 40px;
$social-list-margin: 0 5px 5px;

// Bootstrap overrides
//

// Colors
$gray-800: $brand-gray !default;
$gray-900: $brand-gray-dark !default;

$blue:    $brand-blue !default;
$indigo:  $brand-indigo !default;
$purple:  $brand-purple !default;
$pink:    $brand-pink !default;
$red:     $brand-red !default;
$orange:  $brand-orange !default;
$yellow:  $brand-yellow !default;
$green:   $brand-green !default;
$teal:    $brand-teal !default;
$cyan:    $brand-cyan !default;

$primary:       $brand-primary !default;
$secondary:     $brand-secondary !default;
$success:       $brand-green !default;
$info:          $brand-purple !default;
$warning:       $brand-pink !default;
$danger:        $brand-red !default;
$light:         $brand-light !default;
$dark:          $brand-dark !default;

// Options
$enable-negative-margins:     true !default;

$variable-prefix:             bs- !default;

// body
$body-bg:                   $almost-black !default;
$body-color:                $white !default;

// Links
$link-color:                $pink !default;
$link-decoration:           none !default;
$link-shade-percentage:     -20% !default;
$link-hover-color:          $brand-primary !default;
$link-hover-decoration:     underline !default;

// Paragraphs
$paragraph-margin-bottom:   1.25rem !default;

// Grid Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Transitions
$transition-base:             all .5s cubic-bezier(.7,0,.3,1) !default;
$transition-fade:             opacity .5s cubic-bezier(.7,0,.3,1) !default;

// Typography
$font-family-sans-serif:      'Nunito Sans', serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$line-height-base:            1.85 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 3.5 !default;
$h2-font-size:                $font-size-base * 3 !default;
$h3-font-size:                $font-size-base * 2.5 !default;
$h4-font-size:                $font-size-base * 2 !default;
$h5-font-size:                $font-size-base * 1.5 !default;
$h6-font-size:                $font-size-base * 1.25!default;

$headings-margin-bottom:      2rem !default;
$headings-font-family:        'Moon', sans-serif !default;
$headings-font-weight:        lighter !default;
$headings-line-height:        $line-height-sm !default;
$headings-color:              inherit !default;

// Offcanvas

$offcanvas-padding-y:               1rem !default;
$offcanvas-padding-x:               1rem !default;
$offcanvas-horizontal-width:        400px !default;
$offcanvas-vertical-height:         30vh !default;
$offcanvas-transition-duration:     .5s !default;
$offcanvas-border-color:            transparent !default;
$offcanvas-border-width:            0 !default;
$offcanvas-title-line-height:       $line-height-base !default;
$offcanvas-bg-color:                $almost-black !default;
$offcanvas-color:                   $white !default;
$offcanvas-box-shadow:              none !default;
$offcanvas-backdrop-bg:             $almost-black !default;
$offcanvas-backdrop-opacity:        0.5 !default;

// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y:              .375rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-color:                  $white !default;
$pagination-bg:                     $almost-black !default;
$pagination-border-width:           0 !default;
$pagination-border-radius:          50% !default;
$pagination-margin-start:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-focus-color:            $almost-black !default;
$pagination-focus-bg:               $white !default;
$pagination-focus-box-shadow:       none !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               rgba($almost-black, 0.8) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-color:           $white !default;
$pagination-active-bg:              $primary !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $white !default;
$pagination-disabled-bg:            rgba($almost-black, 0.5) !default;
$pagination-disabled-border-color:  transparent !default;

$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out !default;

$pagination-border-radius-sm:       50% !default;
$pagination-border-radius-lg:       50% !default;