.wysiwyg {
  figure {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(45px);
    padding-top: rem(10px);
    text-align: center;
  
    img { border-radius: 10px; }
  
    figcaption {
      padding-top: rem(20px);
      font-size: 12px;
      line-height: 1.5;
    }
  }
}