.page-banner {
	padding-top: 170px; 
	background: rgba($almost-black, 0.5);
	
	&--has-video {
		background: $almost-black;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: rgba($almost-black, 0.5);
		}

		// Unfortnate override to jarallax image, unable to change via plugin settings w/o customization
		#jarallax-container-0 > div {
			// background: $almost-black url('~/assets/images/loading.svg') no-repeat center center !important;
			transition: all 0.5s ease!important;
		}
	}

	&__video-link {
		display: none;

		@include media-breakpoint-up(md) {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			display: inline-block;
			margin: 15px;
			font-size: 30px;
			line-height: 1;
			color: $white;

			&:hover,
			&:focus {
				color: $white;
			}
		}
	}

    &__container { padding-bottom: rem(40px); }
	
	.hero-title { line-height: 1.25; }

	.hero-subtitle { line-height: 1.5; }
}

.hero {
	&-title {
		color: inherit;
		display: block;
		font-size: 2.15rem;
		letter-spacing: $letter-spacing-header-xl;
		line-height: 1.75;
		margin-bottom: 0;
		text-shadow: 3px 3px 5px $deep-blue;

		@include media-breakpoint-up(sm) { font-size: 3rem; }

		@include media-breakpoint-up(md) { font-size: 4.5rem; }
	}

	&-subtitle {
		color: inherit;
		display: block;
		font-family: inherit;
		font-size: rem(16px);
		letter-spacing: $letter-spacing-header-lg;
		line-height: 1.75;
		margin-bottom: 0;
		text-shadow: 3px 3px 5px $deep-blue;
		text-transform: uppercase;
		max-width: 100%; 
	}
}