.page,
%page {
  padding-top: rem(180px);
  padding-bottom: rem(100px);
}

.page-content {
  padding-top: rem(100px);
  padding-bottom: rem(100px);
  background-color: $deep-blue;

  &--transparent {
    background-color: rgba($deep-blue, 0.5);
  }
}

.page-heading {
	padding-top: 150px;
  background: $deep-blue;
}